
/* Article Preview Text on Hover */
@keyframes slide_fromTop {
	0%{	top: -10%;opacity: 0;}
	100%{top: 0;opacity: 1;}
}

@keyframes slide_fromBottom {
	0%{	top: 10%;opacity: 0;}
	100%{top: 0;opacity: 1;}
}

@keyframes slide_fromLeft {
	0%{	left: -10%; opacity: 0;}
	100%{left: 0; opacity: 1;}
}

@keyframes slide_fromRight {
	0%{	right: -10%;opacity: 0;}
	100%{right: 0;opacity: 1;}
}

/* Expand Article when opening */
@keyframes expand_fromLeft {
	0% {
		width: 33%; 
		left: 0;
		height: initial;
	}
	100% {
		width: 100%; 
		left: 0;
		height: 70vh;
	}
}

@keyframes expand_fromRight {
	0% {
		width: 33%;	
		right: 0;
		height: initial;
	}
	100% {
		width: 100%;
		right: 0;
		height: 70vh;
	}
}

@keyframes expand_fromCenter {
	0% {
		width: 33%;	
		height: initial;
	}
	100% {
		width: 100%;
		left: 0;
		height: 70vh;
	}
}

/* Page Links on hover */
@keyframes text_boom {
	50% {text-shadow: 0 0 5px #fff;}
	100% {text-shadow: 0 0 20px #fff;}
}

/* Video Carousel Buttons on hover */
@keyframes shake {
	10%, 90% {transform: translate3d(-1px, 0, 0);}
	20%, 80% {transform: translate3d(2px, 0, 0);}
	30%, 50%, 70% {	transform: translate3d(-4px, 0, 0);}
	40%, 60% {transform: translate3d(4px, 0, 0);}
}

/* Video container on load */
@keyframes rise_fromBottom {
	0%{	top: 130%;opacity: 0;}
	100%{top: 70%;opacity: 1;}
}

@keyframes reveal {
	0%{opacity: 0;}
	100%{opacity: 1;}
}