@keyframes slide_fromBottom {
	0%{	top: 120%;}
	100%{top: 0;}
}

@keyframes slide_fromLeft {
	0%{	left: -120%;}
	100%{left: 0;}
}

@keyframes slide_fromRight {
	0%{	right: -120%;}
	100%{right: 0;}
}

@keyframes expand {
	0% {height: 0;}
	100% {height: 70vh;}
}

@keyframes expand_fromLeft {
	0% {
		width: 33%;
		left: 0;
	}
	100% {
		width: 100%;
		left: 0;
	}
}

@keyframes expand_fromRight {
	0% {
		width: 33%;
		right: 0;
	}
	100% {
		width: 100%;
		right: 0;
	}
}

@keyframes expand_fromCenter {
	0% {
		width: 33%;
		top: 0;
	}
	100% {
		width: 100%;
		top: 48px;
		left: 0;
	}
}