/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower');*/
/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky%7CTangerine');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Frijole');*/

/*----------------*/
/* General Styles */
/*----------------*/

:root {
	--brown: #6f5508;
	--categoryTitle: #ffffc3;
	--categoryBanner: #000;
}

#books-container {
	position: relative;
	height: 87vh;
}

.divider {
	border: 1px solid #000;
	width: 100%;
}

.shelf {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 80%;
	border: 20px solid #ff6300;
	border-image: url(../images/wood/padouk-1.jpg) 30% stretch;
    border-image: url(../images/wood/timber_RedOak.jpg) 30% stretch;
	background-image: url(../images/wood/images2.jpeg);
	background-size: 20% 100%;
	box-shadow: inset 0 0 20px 6px #000;
}

.shelf:last-of-type{
	margin-bottom: 40px;
}

.book-wrapper {
	position: relative;
}

.book {
	position: relative;
	writing-mode: vertical-rl;
    padding: 6px 6px 40px;
    border: 1px solid #856404;
    background-color: var(--brown);
    background: linear-gradient(to right, #000 0%, var(--brown) 10%, var(--brown) 90%, #000 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2px;
    margin: 1px 4px;
    text-align: center;
    text-shadow: 0 0 5px #000, 0 0 2px #fff;
    transform: rotate(180deg);
    user-select: none;
}

.book::before {
    content: attr(data-author);
    position: absolute;
    padding: 0px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 20px;
    color: var(--categoryTitle);
    background-color: var(--categoryBanner);
    /*background: linear-gradient(to right, #000 0%, attr(data-banner-color) 10%, attr(data-banner-color) 90%, #000 100%);*/
    transform: rotate(180deg);
    writing-mode: horizontal-tb;
    font-size: 10px;
    text-align: center;
    line-height: 2;
    font-family: sans-serif;
}

/*.book::after {
	content: attr(data-title-length);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 13px;
    padding: 4px;
    color: #000;
}*/

/* Tilt/Lean/Stack books */
.book-wrapper.lean-1 {
	width: 6%;
    left: 14px;
    margin-right: 20px;
}
.book-wrapper.lean-1 .book {
	transform: rotate(190deg);
}

.book-wrapper.lean-2 {
    width: 8%;
    left: 22px;
}
.book-wrapper.lean-2 .book {
	transform: rotate(165deg);
}

.book-wrapper.stack-1 {
	width: 4%;
    left: 20px;
}
.book-wrapper.stack-1 .book {
	transform: rotate(168deg);
}

/* Book Sizes (various widths) */
.book-wrapper.x-1 .book {
	padding: 6px 6px 40px;
}

.book-wrapper.x-2 .book {
	padding: 6px 20px 40px;
}

.book-wrapper.x-3 .book{
	padding: 6px 40px 40px;
}

.book:hover {
	/*transform: rotateZ(170deg);*/
	cursor: pointer;
}

/* After Opening a Book */

/*.book-open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 75%;
    background-color: pink;
    border-radius: 2px;
    display: 
}*/

/* Book Fonts */
.font-1 {font-family: "Indie Flower", sans-serif;}
.font-2 {font-family: "Nanum Brush Script", sans-serif;}
.font-3 {font-family: "Fontdiner Swanky", sans-serif;}
.font-4 {font-family: "Tangerine", sans-serif;}
.font-5 {font-family: "Frijole", sans-serif;}
.font-6 {font-family: "Bungee Shade", sans-serif;}
.font-7 {font-family: "UnifrakturMaguntia", cursive;}
.font-8 {font-family: "Ewert", sans-serif;}
.font-9 {font-family: "Annie Use Your Telescope", sans-serif;} /* Pending */
.font-10 {font-family: "Creepster", sans-serif;}
.font-11 {font-family: "Give You Glory", sans-serif;}
.font-12 {font-family: "Montez", sans-serif;}
.font-13 {font-family: "Rock Salt", sans-serif;} 
.font-14 {font-family: "Princess Sofia", sans-serif;}
.font-15 {font-family: "Ruthie", sans-serif;}  
.font-16 {font-family: "Walter Turncoat", sans-serif;}
.font-17 {font-family: "Gloria Hallelujah", cursive;}
.font-18 {font-family: "Great Vibes", sans-serif;} 
.font-19 {font-family: "Henny Penny", sans-serif;}
.font-20 {font-family: "Nothing You Could Do", sans-serif;}

/* Modal Styles */

.modal-body {
    padding: 0 1rem;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.page-left,
.page-right {
    padding: 0;
}

.page-left .card-body,
.page-right .card-body {
    display: flex;
    position: relative;
}

.page-right .card-body {
    flex-flow: column;
}

.bk-cover,
.bk-details {
    width: 50%;
}

.bk-cover-img {
    width: 100%;
}

.bk-desc {
    overflow-y: scroll;
    max-height: 300px;
}

/* Book Excerpt */
.bk-excerpt-holder {
    height: 300px;
    width: 100%;
    display: none;
}

/* Ratings */
.a-icon, .a-link-emphasis:after {
    background-image: url(../images/amazon-sprite.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    filter: grayscale(100%);
}

.a-icon-star, .a-icon-star-medium, .a-icon-star-mini, .a-icon-star-small {
    position: relative;
    vertical-align: text-top;
}

.a-icon-star {
    width: 80px;
    height: 18px;
}

.a-star-0 {
    background-position: -255px -368px;
}

.a-star-0-1 {
    background-position: -239px -368px;
}

.a-star-1 {
    background-position: -69px -368px;
}

.a-star-1-2 {
    background-position: -223px -368px;
}

.a-star-2 {
    background-position: -53px -368px;
}

.a-star-2-3 {
    background-position: -207px -368px;
}

.a-star-3 {
    background-position: -37px -368px;
}

.a-star-3-4 {
    background-position: -191px -368px;
}

.a-star-4 {
    background-position: -21px -368px;
}

.a-star-4-5 {
    background-position: -175px -368px;
}

.a-star-5 {
    background-position: -5px -368px;
}