/*----------------*/
/* General Styles */
/*----------------*/

:root {
	--brown: #6f5508;
}


body{
	background-color: #ccc;
}

/*---------------*/
/* Nav Bar */
/*---------------*/
.navbar .form-control {
	padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

/*-------------*/
/*--- Footer---*/
/*-------------*/
@import url('https://fonts.googleapis.com/css?family=Passion+One');
footer {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	width: 100%;
	background-color: #000;
	border-top: .3125rem solid #ccc;
	color: #666;
	font-family: "Passion One", Arial, sans-serif;
	z-index: 99;
}

footer .right {
	font-size: 10px;
	line-height: 2em;
}

#books-container {
	position: relative;
	background-color: pink;
	height: 87vh;
}

.divider {
	border: 1px solid #000;
	width: 100%;
}

.shelf {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 80%;
	border: 20px solid #ff6300;
	border-image: url(../images/wood/padouk-1.jpg) 30% stretch;
	background-image: url(../images/wood/images2.jpeg);
	background-size: 20% 100%;
	box-shadow: inset 0 0 20px 6px #000;
}

.shelf:last-of-type{
	margin-bottom: 40px;
}

.book-wrapper {
	position: relative;
}

.book {
	position: relative;
	writing-mode: vertical-lr;
	font-size: 20px;
	border: 1px solid #856404;
    padding: 6px 6px 40px;
    background-color: var(--brown);
    background: linear-gradient(to right, #000 0%, var(--brown) 10%, var(--brown) 90%, #000 100%);
    color: #fff;
    border-radius: 2px;
    margin: 1px 4px;
    user-select: none;
    font-weight: 600;
    transform: rotate(180deg);
    text-align: right;
}

.book-wrapper.lean-forward-1 {
	width: 6%;
    left: 14px;
}
.book-wrapper.lean-forward-1 .book {
	transform: rotate(190deg);
}

.book.x-1 {
	padding: 6px 6px 40px;
}

.book.x-2 {
	padding: 6px 20px 40px;
}

.book.x-3 {
	padding: 6px 40px 40px;
}

.book::before {
	content: '';
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #000;
}