.col-4 {
	max-width: none;
}

/*---------------*/
/* Article Cards */
/*---------------*/
#news-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	transition: opacity 500ms 500ms;
	margin: 0;
}

.card {
	position: relative;
	border: 0; 
	border-radius: 0;
	overflow: hidden;
	transition: transform 500ms;
}

#news-container .card:hover {
	box-shadow: 0px 2px 50px rgba(0,0,0,.8), 0px 0px 20px 10px rgba(0,0,0,0.6);
	z-index: 1;
	opacity: 1;
}

/* Scale cards by a factor of 1.1 on hover. Also Adjust how the card moves
   depending on which column it falls under */
.img-col-1 .card:hover {transform: matrix(1.1,0,0,1.1,20,0);}
.img-col-2 .card:hover {transform: scale(1.1);}
.img-col-3 .card:hover {transform: matrix(1.1,0,0,1.1,-20,0);}


/* Article Image Zoom out */
.card-img-top {
	transform: scale(1.2);
	transition: transform 500ms;
	border-radius: 0;
}
.card:hover .card-img-top {
	transform: scale(1);
}

/* Hide elements that will only be visible when the article has been clicked */
.article-text .desc,
.article-video,
.card .close-btn {
    display: none;
}

/* Article Overlay Text */
.article-text {
	position: absolute;
	top: 0;
	opacity: 0;
}

.card-text,
.card-title {
    position: relative;
    top: 0;
    opacity: 0;
}

.card:hover .article-text {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.8), 2px 2px 5px #000;
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(rgba(0,0,0,0.5) 80%, transparent);
    opacity: 1;
    width: 100%;
}
.card:hover .article-text p {
	width: 100%;
}

/* Have text fly in from different sides, depending on the column */
/*.img-col-1 .card:hover .article-text {animation: slide_fromLeft 1s ease forwards;}
.img-col-2 .card:hover .article-text {animation: slide_fromTop 1s ease forwards;}
.img-col-3 .card:hover .article-text {animation: slide_fromRight 1s ease forwards;}
*/

/* Have text fly in from different sides, depending on the column */
.card:hover .article-text {animation: slide_fromTop 1s ease forwards;}
.img-col-1 .card:hover .card-title,
.img-col-1 .card:hover .card-text {animation: slide_fromLeft 1s 750ms ease forwards;}

.img-col-2 .card:hover .card-title,
.img-col-2 .card:hover .card-text {animation: slide_fromTop 1s ease forwards;}

.img-col-3 .card:hover .card-title,
.img-col-3 .card:hover .card-text {animation: slide_fromRight 1s 750ms ease forwards;}

.click-trigger {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* Overlays on top of the entire screen, darkens the screen and 
  helps to disable the hover effect of all other cards when a 
  specific card has been chosen */
.prevent-hover-effect.active {
    position: fixed;
    top: 48px;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}

/*------------------*/
/* Selected Article */
/*------------------*/

.card.expanded {
	position: fixed;
	top: 48px;
	width: 100%;
	height: 70vh;
	z-index: 2;
	box-shadow: 0px 2px 50px rgba(0,0,0,.8), 0px 0px 20px 10px rgba(0,0,0,0.6);
}

.img-col-1 .card.expanded {animation: expand_fromLeft 500ms forwards;}
.img-col-2 .card.expanded {animation: expand_fromCenter 500ms forwards;}
.img-col-3 .card.expanded {animation: expand_fromRight 500ms forwards;}

.card.expanded .click-trigger {
	display: none;
}

.img-col-1 .card.expanded:hover,
.img-col-2 .card.expanded:hover,
.img-col-3 .card.expanded:hover {
	transform: none;
	box-shadow: 0px 2px 50px rgba(0,0,0,.8), 0px 0px 20px 10px rgba(0,0,0,0.6);
}

.card.expanded .card-img-top {
	transform: none;
}

.card.expanded .article-text,
.card.expanded:hover .article-text {
	animation: none;
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.8), 2px 2px 5px #000;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}
.card.expanded .close-btn,
.card.expanded .article-video,
.card.expanded .article-text .desc {
	display: block;
}

.card.expanded .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    color: #000;
    border: 2px solid #000;
    background-color: #ddd;
    text-align: center;
    font-weight: 800;
    user-select: none;
    cursor: pointer;
}

.card.expanded .close-btn:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card.expanded .article-video {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 50%;
    background-color: rgba(52, 58, 64, .8);
    border-radius: 5px;
    padding-top: 20px;
    opacity: 0;
    animation: rise_fromBottom 1000ms 3s forwards;
}

.card.expanded .article-video::after {
    content: 'Related Videos';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-weight: 600;
}

.slick-list {
	overflow: hidden;
}

.video {
	margin: 20px;
	border-radius: 5px;
    opacity: 0;
    animation: reveal 1s 5s forwards;
}

.no-videos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

/*-----------------------*/
/* Slick Arrow Overrides */
/*-----------------------*/
.slick-next:before
{
    content: '\261B';
    font-size: 40px;
    text-shadow: 0 0 5px #000;
}

[dir='rtl'] .slick-prev:before
{
    content: '\261B';
    font-size: 40px;
    text-shadow: 0 0 5px #000;
}

.slick-prev:before
{
    content: '\261A';
    font-size: 40px;
    text-shadow: 0 0 5px #000;
}

[dir='rtl'] .slick-next:before
{
    content: '\261A';
    font-size: 40px;
    text-shadow: 0 0 5px #000;
}

.slick-prev {
	left: -37px;
}

.slick-arrow {
	font-size: 30px;
}

/*.slick-arrow:hover {
	animation: shake 820ms cubic-bezier(.36, .07, .19, .97) both;
}*/

