/* News Media Queries */
@media screen and (max-width: 639px){
	#news-container {
		flex-flow: column wrap;
	}
	
	#news-container .img-col-1,
	#news-container .img-col-2,
	#news-container .img-col-3 {
		width: 100%;
	}
}

@media screen and (min-width: 640px) {
	#news-container .img-col-1,
	#news-container .img-col-3,
	#news-container .card {
		flex-basis: 50%;
	}

	#news-container .img-col-2 {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	#news-container .img-col-1,
	#news-container .img-col-2,
	#news-container .img-col-3,
	#news-container .card {
		display: block;
		flex-basis: 33%;
	}
}

/* Books Media Queries */
@media (min-width: 576px) {
    .modal-dialog {
    	max-width: 800px;
        margin: 1.75rem auto;
    }
}

/* Only apply these styles when the screen is small (mobile) */
@media (max-width: 576px) {
	.navbar .form-control {
		margin-bottom: 1rem;
	}

	.navbar-dark .navbar-brand {
		margin-left: 10rem;
	}
}

/* User Sign In/Out container */
@media screen and (max-width: 610px) {
  #user-container {
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
    margin-bottom: 15px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}