/*----------------*/
/* General Styles */
/*----------------*/

body{
	background-color: #ccc;
}

a:hover {
	text-decoration: none;
}


/*---------------*/
/* Nav Bar */
/*---------------*/
.navbar .form-control {
	padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.nav-item .nav-link:hover {
	animation: text_boom 750ms ease-out forwards;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.navbar-nav {
	flex-direction: row;
    justify-content: space-around;
}

.navbar-nav .nav-link {
	padding-left: .5rem;
	padding-right: .5rem;
}

/*-------------*/
/*--- Footer---*/
/*-------------*/
@import url('https://fonts.googleapis.com/css?family=Passion+One');
footer {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	padding: 5px 10px;
	width: 100%;
	background-color: #343a40;
	border-top: .3125rem solid #ccc;
	color: #666;
	font-family: "Passion One", Arial, sans-serif;
	z-index: 99;
}

footer .right {
	font-size: 10px;
	line-height: 2em;
}


/* Sign In/Out Buttons */
.material-icons {
  font-size: 1rem;
  top: 8px;
  position: relative;
}

#user-container {
    position: relative;
    display: flex;
    flex-direction: row;
    right: 0;
    justify-content: flex-end;
}
#user-container #user-pic {
  top: 3px;
  position: relative;
  display: inline-block;
  background-image: url('../images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
#user-container #user-name {
  line-height: 2.5rem;
  padding-left: 20px;
  width: 100%;
  color: #fff;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

.mdl-button {
  /*width: 80px;*/
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}

.mdl-button:hover {
  background-color: rgba(255,255,255,.2);
}